<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head", {title: 'Products admin'}) %>

<body>
   
   <!-- Header -->
   <%- include("../partials/header") %>

   <main class="admin-main">
      <% if(products) { %>
         <% products.forEach(product => { %>
            <article class="admin-section">
               <strong><p class="description"><%= product.name %></p></strong>
               <img src="/img/products/<%= product.Imgs[0].img %>" alt="<%= product.name %>">
                     
               <div class="align-prices">
                  <p class="prices">$<%= product.price %></p>
                  <p class="discound"><%= product.discount %>% off</p>
               </div>

               <form action="/products/admin/edit/<%= product.id %>" method="get">
                  <button type="submit">Update</button>
               </form>

               <form action="/products/admin/edit/<%= product.id %>?_method=DELETE" method="post">
                  <button type="submit">Delete</button>
               </form>
            </article>
         <% }) %>  
      <% } %>

      <form action="/products/admin/create" method="get">
         <button type="submit">Create new product</button>
      </form>

   </main>
   
   <!-- Footer -->
   <%- include("../partials/footer")%>

</body>
</html>