<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head", {title: 'Products admin'}) %>

<body>
   
   <!-- Header -->
   <%- include("../partials/header") %>

   <main class="admin-main">

      <form action="/products/admin/create" method="get">
         <button class="button-create" type="submit">Create new product</button>
      </form>

      <% if(products) { %>
         <% products.forEach(product => { %>
            <article class="admin-section">
               
               <img src="/img/products/<%= product.Imgs[0].img %>" alt="<%= product.name %>">
               
               <p class="admin-product-name"><strong><%= product.name %></strong></p>
                     
               <div class="admin-align-prices">
                  <p class="prices">$<%= product.price %></p>
                  <p class="discound"><%= product.discount %>% off</p>
               </div>

               <div class="admin-buttons">
                  <form action="/products/<%= product.id %>" method="get">
                     <button class="button-view" type="submit">View</button>
                  </form>
                  
                  <form action="/products/admin/edit/<%= product.id %>" method="get">
                     <button class="button-update" type="submit">Update</button>
                  </form>
   
                  <form action="/products/admin/edit/<%= product.id %>?_method=DELETE" method="post">
                     <button class="button-delete" type="submit">Delete</button>
                  </form>
               </div>

            </article>
         <% }) %>  
      <% } %>

   </main>
   
   <!-- Footer -->
   <%- include("../partials/footer")%>

</body>
</html>