<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head", {title: 'Create New Product'})%>
<link rel="stylesheet" href="/css/form.css">
<script defer src="/js/product-store.js"></script>

<body>
   
   <!-- Header -->
   <%- include("../partials/header", {user})%>

  <div class="form-box">

     <div class="form-card">
     <form action="/products/admin/create" method="post" class="form-create" enctype="multipart/form-data">

        <h2 class="form-title">Save a new product</h2>

        <div class="div-form">
           <label for="name">Product name</label>
           <input id="name" type="text" name="name" placeholder="Product name ..." class="control-form" value="<%= locals?.oldData?.name %>" required>
           <% if (locals.errors && errors.name) { %>
              <div class="text-danger" id="error-name"><%= errors.name.msg %></div>
           <% } else { %>
              <div class="text-danger hide" id="error-name"></div>
           <% } %>
        </div>

        <div class="div-form">
           <label for="price">Price</label>
           <input id="price" type="number" name="price" placeholder="$" class="control-form" value="<%= locals?.oldData?.price %>" required>
           <% if (locals.errors && errors.price) { %>
              <div class="text-danger" id="error-price"><%= errors.price.msg %></div>
           <% } else { %>
              <div class="text-danger hide" id="error-price"></div>
           <% } %>
        </div>

        <div>
           <label>Product category</label>
           <Select name="category" id="category" class="control-form" required>
              <% for(let i=0; i<categories.length; i++) { %>
                 <option value="<%= categories[i].id %>" <%= parseInt(locals?.oldData?.category) === categories[i].id ? 'selected' : null %> ><%= categories[i].name %></option>
              <% } %>
           </Select>
           <% if (locals.errors && errors.category) { %>
              <div class="text-danger"><%= errors.category.msg %></div>
           <% } %>
        </div>

        <div class="div-form">
           <label for="description">Product description</label>
           <textarea name="description" id="description" cols="20" rows="5" class="control-form"><%= locals?.oldData?.description %></textarea>
           <% if (locals.errors && errors.description) { %>
              <div class="text-danger" id="error-description"><%= errors.description.msg %></div>
           <% } else { %>
              <div class="text-danger hide" id="error-description"></div>
           <% } %>
        </div>

        <div>
           <label for="productImg">Product images</label>
           <input type="file" name="productImg" id="productImg" accept="jpeg, .jpg, .png, .webp" multiple class="control-form">
           <% if (locals.errors && errors.productImg) { %>
              <div class="text-danger" id="error-imgs"><%= errors.productImg.msg %></div>
           <% } else { %>
              <div class="text-danger hide" id="error-imgs"></div>
           <% } %>
        </div>

        <div class="div-form">
           <label>Product discount</label>
           <input type="number" name="discount" id="discount" placeholder="0, 5, ... , 100" min="0" max="100" class="control-form" value="<%= locals?.oldData?.discount %>">
           <% if (locals.errors && errors.discount) { %>
              <div class="text-danger" id="error-discount"><%= errors.discount.msg %></div>
           <% } else { %>
              <div class="text-danger hide" id="error-discount"></div>
           <% } %>
        </div>

        <div class="form-div-buttons">
           <button id="reset" type="reset" class="generic-button">Reset</button>
           <button id="submit" type="submit" class="generic-button">Save product</button>
        </div>

     </form>
     </div>

  </div>

   <!-- Footer -->
   <%- include("../partials/footer")%>

</body>
</html>