<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head", {title: 'Cart'}) %>
<link rel="stylesheet" href="/css/user-cart.css">
<script defer src="/js/user-cart.js"></script>

<body>
   
   <!-- Header -->
   <%- include("../partials/header", {user}) %>

   <main class="cart-container">

      <section class="cart-section-products">

         <% if(products) { %>
            <% products.forEach(product => { %>
               <article class="cart-article-product" id="<%= product.id %>">

                  <span class="hide" id="<%= product.id %>-price"><%= product.price %></span>
                  <span class="hide" id="<%= product.id %>-discount"><%= product.discount %></span>

                  <div class="cart-products-container">
                     <div class="cart-product-img">
                        <img src="/img/products/<%= product.Imgs[0].img %>" alt="<%= product.name %>">
                     </div>

                     <p class="cart-product-name"><strong><%= product.name %></strong></p>
                  </div>

                  <div class="cart-product-info">

                     <div class="cart-product-info-price">
                        <span class="cart-product-price"><%= product.price.toLocaleString('en-US', {style:'currency', currency: 'USD'}) %></span>
                        <span class="cart-product-discount"><%= product.discount%>% off</span>
                     </div>

                     <div class="cart-product-info-number">
                        <button id="<%= product.id %>-button-minus" class="cart-product-quantity" type="submit">-</button>
                        <span id="<%= product.id %>-quantity"><%= quantity[product.id] %></span>
                        <button id="<%= product.id %>-button-plus" class="cart-product-quantity" type="submit">+</button>
                     </div>

                     <div class="cart-product-info-total">
                        <span>Total: </span>
                        <span id="<%= product.id %>-total"><%= (product.price * quantity[product.id]).toLocaleString('en-US', {style:'currency', currency: 'USD'}) %></span>
                     </div>
                  </div>

               </article>
            <% }) %>
         <% } %>

      </section>

      <% const totals = products.reduce( (acum, product) => [acum[0] + product.price * quantity[product.id], acum[1] + (product.discount/100) * product.price * quantity[product.id]], [0,0]) %>

      <section class="cart-section-overall">

         <article class="cart-article-overall">

            <h2 class="cart-overall-title">
               <span>Your cart!!</span>
               <span class="cart-overall-products-quantity">
               <i class="fa fa-shopping-cart"></i> <b id="cart-total-products"><%= Object.values(quantity).reduce((acum, q) => acum + q, 0) %></b>
            </span>
            </h2>

            <% if(products.length > 0) products.forEach( product => { %>
               <div class="cart-overall-products" id="<%= product.id %>-line-overall">
                  <span class="cart-overall-products-text"><%= product.name %> (x<span id="<%= product.id %>-quantity-overall"><%= quantity[product.id] %></span>)</span>
                  <span class="cart-overall-products-number" id="<%= product.id %>-price-overall"><%= (product.price * quantity[product.id]).toLocaleString('en-US', {style:'currency', currency: 'USD'}) %></span>
               </div>
            <% }) %>

            <hr class="cart-h-line"/>

            <div class="cart-overall-products">
               <span class="cart-overall-products-text">Total</span>
               <span class="cart-overall-products-number" id="cart-total-before"><%= totals[0].toLocaleString('en-US', {style:'currency', currency: 'USD'}) %></span>
            </div>

            <div class="cart-overall-products">
               <span class="cart-overall-products-price">Total discounts</span>
               <span class="cart-overall-products-number" id="cart-total-discount"><%= totals[1].toLocaleString('en-US', {style:'currency', currency: 'USD'}) %></span>
            </div>

            <hr class="cart-h-line"/>

            <div class="cart-overall-products cart-total">
               <span class="cart-overall-products-price">Total after discounts</span>
               <span class="cart-overall-products-number" id="cart-total-after"><%= (totals[0] - totals[1]).toLocaleString('en-US', {style:'currency', currency: 'USD'}) %></span>
            </div>

            <button class="cart-buy-button" type="submit">Buy</button>

         </article>

      </section>
   </main>
   
   <!-- Footer -->
   <%- include("../partials/footer")%>

</body>
</html>