<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head", {title: 'Login'}) %>
<link rel="stylesheet" href="/css/form.css">
<script defer src="/js/user-login.js"></script>

<body>
   
   <!-- Header -->
   <%- include("../partials/header", {user})%>

   <div class="form-box">

      <div class="form-card-login">
         <form action="/users/login" method="post" class="form-create">

            <h2 class="form-title">Login</h2>

            <div class="div-form">
               <label for="email">Email</label>
               <input type="email" name="email" id="email" placeholder="email@dominio ..." class="control-form" required>
               <% if (locals.errors && errors.email) { %>
                  <div class="text-danger" id="error-email"><%= errors.email.msg %></div>
               <% } else { %>
                  <div class="text-danger hide" id="error-email"></div>
               <% } %>
            </div>

            <div class="div-form">
               <label for="password">Password</label>
               <input type="password" name="password" id="password" class="control-form" required>
               <% if (locals.errors && errors.password) { %>
                  <div class="text-danger" id="error-password"><%= errors.password.msg %></div>
               <% } else { %>
                  <div class="text-danger hide" id="error-password"></div>
               <% } %>
            </div>

            <div class="form-save-me">
               <input type="checkbox" name="recall" id="recall">
               <label for="recall">Remember me</label>
            </div>

            <div class="form-div-buttons">
               <button type="submit" class="generic-button" id="submit">Login</button>
            </div>

            <div class="form-div-link">
               <a class="form-link" href="/users/register">New to Liebre Market? Click here</a>
            </div>

         </form>
      </div>

   </div>

   <!-- Footer -->
   <%- include("../partials/footer")%>

</body>
</html>